* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #4c4c4c;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1.5fr 6fr;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

hr {
    margin: 0px;
    border-style: solid;
    border-color: #dadada;
    border-top-width: 1px;
}

nav {
    grid-column: span 2;
    padding: 1em;
}

nav .search {
    color: #003b71;
    border: none;
}

nav .btn {
    margin: 0em 0.8em;
}

nav > div > div:nth-child(1) {
    text-align: right;
    padding-right: 6em;
}

.nav-title {
    margin-left: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-links {
    padding: 2em 0em;
    background-color: #01396c;
}

.nav-links > ul {
    padding: 0px;
    margin: 0px;
}

.nav-link {
    display: block;
}

.nav-link.active > div {
    background-color: #709cc9;
    border-left: 4px #f2fef0 solid;
}

.nav-link:hover {
    background-color: #709cc9;
}

.nav-link > div {
    display: block;
    padding: 0.8em 1.2em;
    cursor: pointer;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.nav-link a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
}

.nav-link > ul {
    grid-column: span 2;
    background-color: #f2fef0;
    color: #183545;
}

.nav-link > ul > li {
    padding: 0.4em 1em 0.4em 0em;
    cursor: pointer;
}

.nav-link > ul > li:hover {
    background-color: #f2fef0;
}

.nav-link > ul > li:hover a {
    font-weight: bold;
}

.nav-link > ul > li.active a {
    font-weight: bold;
}

.nav-link > ul a {
    color: #183545;
    font-size: 0.8em;
    width: 100%;
}

.dropdown-content {
    display: none;
}

.dropdown-content.toggled {
    display: block;
}

aside {
    grid-column: span 1;
    padding: 1em;
}

main {
    grid-column: span 1;
    padding: 4em 5em 4em 1em;
}
main > .home {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1.6em;
}

aside .header {
    font-size: 1.4em;
    text-align: right;
    padding: 0.6em 1.6em;
    color: #def5ff;
}

aside .hr {
    padding: 0em 1em;
}

aside .hr hr {
    border-color: #c2e4ff;
}
aside > div {
    border-radius: 8px;
    overflow: hidden;
    color: #ffffff;
    height: inherit;
}

aside > div > .profile-section {
    background-color: #709cc9;
    color: #ffffff;
}

aside > div > .divider {
    background-color: #01396c;
    color: #ffffff;
}

aside > div > .aside-nav {
    background-color: #01396c;
    color: #ffffff;
}

aside .profile {
    padding: 4em 1em 0em 1em;
}

aside .profile > div {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-gap: 1em;
}

aside .profile .profile-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #ffffff;
}

aside .profile .profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

aside .profile .profile-info > * {
    padding: 0.3em 0em;
}

aside hr {
    border-color: #ffffff;
}

.main-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.6em;
}

.banner {
    padding: 1em 3em 2em 3em;
    color: #e4fcff;
    background-color: #01396c !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: unset !important;
}

.banner > * {
    margin: 1em 0;
}

.banner hr {
    border-color: #a3cbef;
}

.banner .header {
    font-weight: 500;
    margin-bottom: 1.5em;
}

.banner p {
    color: #dbffff;
    font-weight: lighter;
}

.section-2, .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.section-2 h1, .section-3 h1 {
    color: #000000;
}

.section-2 > div {
    display: grid;
    grid-template-rows: 1.5em 1.5em 4.5fr 6fr;
    text-align: center;
    padding: 1em 2em;
}

.section-2 .title {
    font-weight: bold;
    color: #343434;
    text-align: center;
}

.section-2 .sub-title {
    font-weight: bold;
    color: #4b759b;
    text-align: center;
}

.view-details {
    background-color: #2573be;
    color: #ffffff;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: none;
    margin: auto;
}

.section-3 > div {
    text-align: center;
    padding: 3em 0em;
    display: grid;
    grid-template-rows: 2.5em 1em;
}

.section-4 .header {
    padding: 0.4em 0em;
}

.table {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.tr {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    padding: 1em;
}

.tr > span:nth-child(1) {
    text-align: center;
}

.thead * {
    font-weight: bold;
}

.table span {
    font-size: 0.8em;
}

.appointments {
    padding: 0.02em 1.4em 1.6em 1.4em;
}

.appointments > .header {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    margin: 1.2em 0em;
}

.appointments > .sub-header {
    font-weight: 600;
    margin: 1.2em 0em;
}

.appointments > .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4em;
}

.appointment {
    padding: 0.6em 1em;
    box-shadow: 0px 0px 4px 0px #d7d7d7 !important;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 2px;
}

.appointment > p {
    font-weight: 600;
    margin: 0px;
    color: #525252;
}

.appointment > span {
    font-weight: 600;
    font-size: 0.6em;
    color: #9f9f9f;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 6px 6px 0px #bfbfbf;
    overflow: hidden;
}

button, .btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #1a3552;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 0.8em;
    color: #1a3552;
    cursor: pointer;
    font-weight: 600;
    transition: 500ms;
}

button:hover, .btn:hover {
    border-color: #1a3552;
    background-color: #003b71;
    color: #ffffff;
}

.btn.fill {
    border-color: #1a3552;
    background-color: #003b71;
    color: #ffffff;
}

button {
    border-color: #1a3552;
}

input {
    color: #4d4d4d;
    border-color: #a9a9a9;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    padding: 0.8em 2em;
    outline: none;
}

input::placeholder {
    color: #a9a9a9;
}

input[type="submit"] {
    background-color: #2572ba;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: max-content;
    padding: 0.8em 3.6em;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 500ms;
}

input[type="submit"]:hover {
    background-color: #003b71;
}

.text-center {
    text-align: center !important;
}

/* Patient Vitals */

.form-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

.form {
    width: 70%;
    margin: auto;
}

.form .header {
    margin-top: -4em;
    margin-bottom: 0px;
}

.form .content {
    padding: 0.6em 4em 4em 4em;
}

.form .note {
    font-weight: bold;
    margin: 1em 0em;
}

.form input[type="submit"] {
    margin: 3em 0em;
}